[Desktop Entry]
Name=Simple-Blue-Loader
Encoding=UTF-8
Type=Service
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Author=LinuxPerfeito
X-KDE-PluginInfo-Category=Plasma Look And Feel
X-KDE-ServiceTypes=Plasma/LookAndFeel
X-KDE-PluginInfo-Name=Simple-Blue-Loader
X-KDE-PluginInfo-License=GPLv3
X-KDE-PluginInfo-EnabledByDefault=true
X-Plasma-MainScript=defaults
